.button {
    border: 1px solid black;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.25em 0.1em;
    cursor: pointer;
    border-radius: 0.25em;
}

.button-list {
    padding: 0;
}

.button-list li {
    display: inline-block;
}

.entry-list li {
    margin: 1em 0;
}