{% extends "_base.html" %}
{% block content %}
<h1>{{ date }}, a {{ date.strftime('%A') }} {{ offset }} ago</h1>

<ul class="button-list">
    <li>
        {{ jumplink('today', today = True) | safe }}
    </li>
    <li>
        {{ jumplink('random', random = True) | safe }}
    </li>
    <li>
        {{ jumplink('<', days = -1) | safe }}
        day
        {{ jumplink('>', days = 1) | safe }}
    </li>
    <li>
        {{ jumplink('<', weeks = -1) | safe }}
        week
        {{ jumplink('>', weeks = 1) | safe }}
    </li>
    <li>
        {{ jumplink('<', months = -1) | safe }}
        month
        {{ jumplink('>', months = 1) | safe }}
    </li>
    <li>
        {{ jumplink('<', years = -1) | safe }}
        year
        {{ jumplink('>', years = 1) | safe }}
    </li>
</ul>

{% if categories %}
    {% for category in categories | sort %}
    <h2>{{ category }}</h2> 

    <ul class="entry-list">
        {% for entrylist in entries[category] %}
        <li>
            {% for entry in entrylist %}
            {{ entry }} <br />
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% else %}
    <h2>No entries today (it wasn't always so)</h2>
{% endif %}

{% endblock %}