{% extends "_base.html" %}
{% block content %}
<h1>{{ date }}</h1>
<p>{{ date.strftime('%A') }}; {{ offset }} ago</p>

<ul class="button-list">
    <li>{{ jumplink('today', today = True) | safe }}</li>
    <li>{{ jumplink('random', random = True) | safe }}</li>
    <li>{{ jumplink('yesterday', days = -1) | safe }}</li>
    <li>{{ jumplink('tomorrow', days = 1) | safe }}</li>
    <li>{{ jumplink('last week', weeks = -1) | safe }}</li>
    <li>{{ jumplink('next week', weeks = -1) | safe }}</li>
    <li>{{ jumplink('last month', months = -1) | safe }}</li>
    <li>{{ jumplink('next month', months = 1) | safe }}</li>
    <li>{{ jumplink('last year', years = -1) | safe }}</li>
    <li>{{ jumplink('next year', years = 1) | safe }}</li>
</ul>

{% if categories %}
    {% for category in categories | sort %}
    <h2>{{ category }}</h2> 

    <ul class="entry-list">
        {% for entrylist in entries[category] %}
        <li>
            {% for entry in entrylist %}
            {{ entry }} <br />
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% else %}
    <h2>No entries today (it wasn't always so)</h2>
{% endif %}

{% endblock %}